doctype html
html
    head
        title Products
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/products/search-form.css')
        link(rel='stylesheet', type='text/css', href='/css/products/products-container.css')
    body
        #navbar
            button(onclick="location.href='/main'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        form#search-form
            select#sort-select()
                option(value="", disabled, selected)= "Price sorting"
                option(value="any", selected=prev && prev.sort === 'any') -
                option(value="fromcheap", selected=prev && prev.sort === 'fromcheap') From cheap
                option(value="tocheap", selected=prev && prev.sort === 'tocheap') To cheap
            select#owner-select()
                option(value="", disabled, selected)= "Owner"
                option(value="any", selected=prev && prev.owner === 'any') -
                each owner in owners
                    option(value=owner, selected=prev && prev.owner === owner)= owner
            input#search-input( type="text", placeholder="Find by name", value=prev ? prev.name : "")
            button#search-button(type="button", onclick="clickFind()") Find
        #product-container
            if products
                each product in products
                    .product
                        h2= product.name
                        p= product.description
                        p= `Owner: ${product.owner}`
                        p= `Price: ${product.price} GBP` 
                        button(type="button") Buy
        if message
            h1= message
    script.
        function clickFind() {
            const name = document.getElementById('search-input').value;
            const sort = document.getElementById('sort-select').value;
            const owner = document.getElementById('owner-select').value;
            let url = `/products/find?name=${name}`
            if (sort !== 'any') {
                url += `&sort=${sort}`
            }
            if (owner !== 'any') {
                url += `&owner=${owner}`
            }
            location.href = url;
        }