doctype html
html
    head
        title Products
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/products/search-form.css')
        link(rel='stylesheet', type='text/css', href='/css/products/products-container.css')
    body
        #navbar
            button(onclick="location.href='/main'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        form#search-form
            label(for="search-input") Search:
            input#search-input(type="text", placeholder="Find by name")
            button#search-button(type="button", onclick="clickFind()") Find
        #product-container
            each product in products
                .product
                    h2= product.name
                    p= product.description
                    p= `Owner: ${product.owner}`
                    p= `Price: ${product.price} GBP` 
                    button(type="button") Buy
    script.
        function clickFind() {
            const name = document.getElementById('search-input').value;
            location.href = `/products/find?name=${name}`;
        }