doctype html
html
    head
        title Products
        link(rel='stylesheet', type='text/css', href='/css/basic.css')
        link(rel='stylesheet', type='text/css', href='/css/products/search-form.css')
        link(rel='stylesheet', type='text/css', href='/css/products/products-container.css')
    body
        #navbar
            button(onclick="location.href='/main'") MAIN
            button(onclick="location.href='/products'") PRODUCTS
            button(onclick="location.href='/profile'") PROFILE
        form#search-form
            select#sort-select()
                option(value="any") -
                option(value="fromcheap") From cheap
                option(value="tocheap") To cheap
            select#owner-select()
                option(value="any") -
                each owner in owners
                    option(value=owner)= owner
            input#search-input( type="text", placeholder="Find by name")
            button#search-button(type="button", onclick="clickFind()") Find
        #product-container
            each product in products
                .product
                    h2= product.name
                    p= product.description
                    p= `Owner: ${product.owner}`
                    p= `Price: ${product.price} GBP` 
                    button(type="button") Buy
    script.
        function clickFind() {
            const name = document.getElementById('search-input').value;
            const sort = document.getElementById('sort-select').value;
            const owner = document.getElementById('owner-select').value;
            location.href = `/products/find?sort=${sort}&owner=${owner}&name=${name}`;
        }